<header>
    <div class="jumbotron">
        <div class="container">
            <h1>Portfolio moje khurwa</h1>
            <p><i>localhost > {{title}}</i></p>
        </div>
    </div>
</header>
{{> links}}