<nav>
    <div class="container">
        <button class="btn btn-primary"><a href="/" class="text-light">Strona glowna</a></button>
        <button class="btn btn-secondary"><a href="/help" class="text-light">Strona glowna</a></button>
    </div>
</nav>